<!DOCTYPE html>
<html ng-app="DemoApp" ng-controller="CarController as ctrl">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ctr.title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>{{ctrl.title}}</h1>
                </div>
                <!-- Add your Content here -->
                <div style="border: none" class="page-header">
                    <h2>Number of cars: {{ctrl.cars.length}}</h2>
                </div>

                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search da Tabble" ng-model="searchCar">
                        </div>
                    </div>
                </form>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <a href="#">
                                Index
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
                                <span ng-show="sortType == 'year'" class="fa fa-caret-down"></span>
                                Year
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'registered'; sortReverse = !sortReverse">
                                <span ng-show="sortType == 'registered'" class="fa fa-caret-down"></span>
                                Registered
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'make'; sortReverse = !sortReverse">
                                <span ng-show="sortType == 'make'" class="fa fa-caret-down"></span>
                                Make
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'model'; sortReverse = !sortReverse">
                                <span ng-show="sortType == 'model'" class="fa fa-caret-down"></span>
                                Model
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                                <span ng-show="sortType == 'description'" class="fa fa-caret-down"></span>
                                Description
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                                <span ng-show="sortType == 'price'" class="fa fa-caret-down"></span>
                                Price
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in ctrl.cars | orderBy:sortType:sortReverse | filter:searchCar">
                        <td>{{$index + 1}}</td>
                        <td>
                            {{car.year}}
                        </td>
                        <td>
                            {{car.registered | date}}
                        </td>
                        <td>
                            {{car.make}}
                        </td>
                        <td>
                            {{car.model}}
                        </td>
                        <td>
                            {{car.description}}
                        </td>
                        <td>
                            {{car.price | currency}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="angular-locale_da.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var myApp = angular.module('DemoApp', []);
    myApp.controller('CarController', [function () {
        var self = this;

        self.sortType = 'model';
        self.sortReverse = false;

        self.cars = [
            {
                year: 1997,
                registered: 867621600000,
                make: 'Ford',
                model: 'E350',
                description: 'ac, abs, moon',
                price: 3000
            }
            , {year: 1999, registered: 945212400000, make: 'Chevy', model: 'Venture', description: 'None', price: 4900}
            , {year: 2000, registered: 953766000000, make: 'Chevy', model: 'Venture', description: '', price: 5000}
            , {
                year: 1996,
                registered: 844380000000,
                make: 'Jeep',
                model: 'Grand Cherokee',
                description: 'Air, moon roof, loaded',
                price: 4799
            }
        ];
        self.title = "Cars Demo App";
        self.predicate = 'make';
    }]);
</script>
</body>
</html>