$color-primary: #383745;
$color-secondary: #9DC24E;

$brand-primary: $color-primary;
$brand-info: $color-secondary;


// Page
$link-hover-decoration:               none;
$body-bg:                             #ECECEC;
$text-color:                          #333;
$border-radius-base:                  3px;
$border-radius-large:                 3px;
$border-radius-small:                 3px;
$grid-gutter-width:                   15px;

// Typography
$font-family-base:                    "Open Sans", Helvetica, Arial, sans-serif;
$font-size-base:                      15px;

$headings-font-family:                "Open Sans", Helvetica, Arial, sans-serif;
$headings-font-weight:                300;
$headings-line-height:                1.1;
$headings-color:                      $text-color;

// Navbar
$navbar-height:                       54px;
$navbar-margin-bottom:                0;

// Navbar inverse
$navbar-inverse-color:                #fff;
$navbar-inverse-bg:                   $brand-primary;
$navbar-inverse-border:               darken($navbar-inverse-bg, 10%);

$navbar-inverse-link-color:           #fff;
$navbar-inverse-link-hover-color:     #fff;
$navbar-inverse-link-hover-bg:        lighten($navbar-inverse-bg, 1%);
$navbar-inverse-link-active-color:    $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:       lighten($navbar-inverse-bg, 3%);

$navbar-inverse-brand-color:          $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:    #fff;
$navbar-inverse-brand-hover-bg:       transparent;

$navbar-inverse-toggle-hover-bg:      transparent;
$navbar-inverse-toggle-icon-bar-bg:   #fff;
$navbar-inverse-toggle-border-color:  transparent;

$tooltip-bg: $color-primary;
$tooltip-opacity: 1;
