<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-mocks.js"></script>
    <script src="app.js"></script>
    <title></title>
</head>
<body ng-app="examApp" ng-controller="ExamController">
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="page-header">
                    <h1>Grades</h1>
                </div>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Basic Programming</th>
                        <th>Advanced Programming</th>
                        <th>DataBase Intro</th>
                        <th>Average</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in studentsInfo.students">
                        <td>{{student.name}}</td>
                        <td ng-repeat="grade in student.grades">{{grade.grade}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</body>
</html>